body {background-color: #111 !important;color: #fff;min-height: 100vh;font-family: 'Poppins', Arial, sans-serif;}
:root{--primary-color: #3B82F6;
  --primary-font-family:Space Grotesk;}
  
.cmn-sec{padding: 38px 0;} 
.comman-btn{transition: all ease-in-out 1s; justify-content: center;border: none; padding: 12px 18px;background: linear-gradient(#194BFD,#AD13FB);border-radius: 30px;display: block;width: fit-content;color: #fff;text-decoration: none;font-family: Poppins;font-weight: 700;font-size: 16px;letter-spacing: 1px;align-self: center;display: flex;align-items: center;gap: 5px;}
.comman-btn:hover{background: linear-gradient(#AD13FB,#194BFD);transition: all ease 1s;}

.header-top{display: flex;justify-content: space-between;margin: 6px 0px; transition: height 0.3s, visibility 0.3s;}
.header-top.hidden {display: none;  visibility :hidden;}
.logo-div{display: flex;align-items: center;gap: 6px;}
.apps-logo{width: 28px;height: 28px;padding: 5px;color: #fff;cursor: pointer;}
.apps-logo:hover{color:var(--primary-color);}

.navbar{background-color: #111;}
.navbar-brand{color: #fff !important;}
.nav-link{color: #E6E6E682 !important;cursor: pointer;}
.nav-link:hover{color:  #E6E6E6 !important;}
.contact-div{display: flex;gap: 3rem;}
.contact-div-childs{text-decoration: none;color: #E6E6E6;display: flex;gap: 5px;align-items: center !important;transition: 0.5s;}
.cmn-icons{display: flex !important;height: 20px;width: 20px;}
.comman-btn:hover .cmn-icons{transform: rotate(180deg);transition: 1s;}
.contact-div-childs:hover{color:var(--primary-color);}
.contact-txt{display: flex;align-items: center !important;}
.toggle-btn{color: #E6E6E6;}
header {position: sticky;top: 0;z-index: 1000;box-shadow: 0 2px 5px rgba(0,0,0,0.1);}
.navbar-grid {display: flex;justify-content: space-between; align-items: center;padding: 1rem 0;}
.navbar-brand{margin: 0;font-size: 1.5rem;}
.navbar-brand {font-family: "Sofia", sans-serif;font-weight: 600;font-style: normal;}
.navbar-brand:hover{color: aqua !important;}

/* home-section */
.home-section{background-color: black;}
.main-txt{font-family:    --primary-font-family;color: #fff;font-weight: 300;font-size: 58.58px;line-height: 113.99999999999999%;}
.myname{color: var(--primary-color) !important;}
.txt-main-div{display: flex;flex-direction: column;gap: 30px;align-items: center;}
.para-txt{font-family:    --primary-font-family;color: #E6E6E682;font-weight: 400;font-size: 16px;}

.img-div{display: flex;justify-content: center;align-items: center;position: relative;}
.profile-img{border-radius: 100%;height: 350px;}
.react-icon{animation: blink 1.2s infinite alternate;position: absolute;z-index: 10;color: var(--primary-color); font-size: 25px;top: 5px;right: 20%;}
.express-icon{animation: blink 1.2s infinite alternate;position: absolute;z-index: 10;color: gold; font-size: 25px;top: 5px;left: 20%;}
.mongodb-icon{animation: blink 1.2s infinite alternate;position: absolute;z-index: 10;color: rgb(43, 255, 43); font-size: 25px;bottom: 5px;right: 20%;}
.node-icon{animation: blink 1.2s infinite alternate;position: absolute;z-index: 10;color: green; font-size: 25px;bottom: 5px;left: 20%;}
@keyframes  blink{0%{opacity: 0;transform: scale(1) rotate(-2deg);}50% {opacity: 1;transform: scale(1.08) rotate(180deg);}100% {opacity: 0.5;transform: scale(1) rotate(360deg);}}

/* tech-section  */
.tech-card-icon-wrapper {display: flex;justify-content: center;align-items: center;margin-top: 18px;margin-bottom: 0;}
.tech-card-icon {color: #23D997;font-size: 50px;filter: drop-shadow(0 4px 12px rgba(35,217,151,0.15));}
.tech-section {padding: 38px 0px 24px 0;background: #18191A;}
.heading-txt{display: flex;flex-direction: column;gap: 1rem;}
.section-title {text-align: center;font-family:--primary-font-family;color: #fff;font-size: 32px;letter-spacing: 1px;margin: 0;color: var(--primary-color);}
.section-subtitle {text-align: center;max-width: 60%;margin: 0 auto;font-size: 18px;         font-weight: 400;color: #555;                 margin-bottom: 32px;       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.tech-cards {display: flex;gap: 20px 0;justify-content: center;}
.tech-card {background: #23242A;color: #F5F6FA;border-radius: 20px;box-shadow: 0 4px 20px rgba(0,0,0,0.5);display: flex;flex-direction: column;transition: transform 0.18s;height: 100%;}
.tech-card:hover {transform: translateY(-8px) scale(1.03);box-shadow: 0 2px 8px rgba(35,217,151,0.7);}
.tech-card-img {width: 50px;height: 50px;margin: 32px auto 0 auto;object-fit: contain;background: #18191A;border-radius: 14px;padding: 14px;box-shadow: 0 2px 8px rgba(35,217,151,0.08);}
.tech-card-body {flex: 1;padding: 12px 18px;text-align: center;}
.tech-card-title {color: #23D997;font-size: 1.3rem;margin-bottom: 10px;}
.tech-card-text {font-size: 1rem;opacity: 0.88;margin: 0;}
.tech-card-footer {background: #191A20;border-radius: 0 0 20px 20px;padding: 14px;text-align: center;}
.tech-btn {border: 2px solid #23D997;color: #23D997;background: transparent;border-radius: 8px;padding: 8px 28px;font-weight: 600;text-transform: uppercase;letter-spacing: 1px;transition: background 0.15s, color 0.15s;text-decoration: none;display: inline-block;}
.tech-btn:hover {background: #23D997;color: #18191A;}
.tech-view-btn-div{padding-bottom: 38px;background-color: #18191A;display: flex;justify-content: center;}
.tech-view-btn{ padding: 12px 18px;background: linear-gradient(#194BFD,#0bd7c9);border-radius: 30px;display: block;width: fit-content;color: #fff;text-decoration: none;font-family: Poppins;font-weight: 700;font-size: 16px;letter-spacing: 2px;align-self: center;display: flex;align-items: center;gap: 5px;}
.tech-breadcrumb{display: flex;justify-content: end;gap: 10px;padding: 15px 0 ;}
.breadcrumb-Item{font-size: 25px;color: #aaa;margin: 0;text-decoration: none;display: flex;align-items: center;gap: 10px;}
.breadcrumb-Item:hover{color: var(--primary-color);}
.breadcrumb-Item.active{color: var(--primary-color);}

/* resumeSection */
.resumeSection {background-color: #121212;display: flex;justify-content: center;align-items: center;color: #f0f0f0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.gridContainer {display: flex;gap: 3rem;flex-wrap: wrap;justify-content: space-between;}
.sectionTitle {font-size: 16px;margin-bottom: 5px;color: #00bcd4;border-bottom: 2px solid #00bcd4;padding-bottom: 5px;letter-spacing:2px;}
.list {list-style-type: disc;padding-left: 20px;color: #ddd;font-size: 14px;}
.languages-list {font-size: 1rem;line-height: 1.4;margin: 0;padding-left: 0;}
.experienceItem {margin-bottom: 10px;}
.experienceTitle {font-weight: bold;font-size: 14px;color: #fff;}
.experienceCompany {color: #aaa;font-style: italic;margin-bottom: 0.3rem;}
.experienceTime {font-size: 14px;color: #666;margin-bottom: 0.5rem;}
.experienceDescription {font-size: 14px;color: #ccc;}
.lang-div{margin: 15px 0;}

/* projectsSection */
.projectsSection {
  background-color: #18191A;
  color: #eee;
  font-family: var(--primary-font-family);
  align-items: stretch;
  margin: 0 auto;
}

.projectCard {
  background: #1f1f1f;
  border-radius: 12px;
  box-shadow: 0 15px 15px rgba(0,188,212,0.19);
  padding: 1rem 1rem 1.8rem 1rem;
  transition: transform 0.2s;
  color: #eee;
  height: 100% !important;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.projectImage {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  background: #222;
  box-shadow: 0 4px 15px rgba(0,188,212,0.12);
}

.projectTitle {
  color: #00bcd4;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.projectDescription {
  flex: 1;
  font-size: 16px;
  color: #cfd8dc;
  margin-bottom: 10px;
}

.projectTech {
  color: #64ffda;
  font-style: italic;
  font-size: 14px;margin: 0;
}

.projectVisitBtn {
  display: inline-block;
  margin-top: 1rem;
  color: #fff;
  background: #008c9e;
  padding: 0.38rem 1rem;
  border-radius: 6px;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  transition: background 0.2s;
}

.project-link:hover .projectVisitBtn, .project-link:focus .projectVisitBtn {
  background: #00bcd4;
  color: #121212;
}

/* contact-seec */
.contact-wrapper {
  max-height: 100vh;
  width: 100%;
  background: #0f1216;    
  color: #e5e7eb;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  background: #111827;
  color: #e5e7eb;
  border: 1px solid #1f2937;
  border-radius: 8px;
  padding: 10px 14px;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(147, 197, 253, 0.2);
}


.input-field{font-size: 14px; }

.contact-form button:active { background: #1d4ed8; }

.success-msg { color: #22c55e; }
.error-msg { color: #f43f5e; }

.contact-right {
  width: 100%;
  height: 100%;
  overflow: hidden;border-radius: 10px  ;
}

.download-btn{display: flex;justify-content: center;margin-top: 20px;}

/* #footer */
.portfolio-footer {
  background-color: #18191A; 
  font-family: var(--primary-font-family);
  color: #f1e8e8; 
}

.footer-logo {
  font-weight: 700;
  font-size:30px;
  margin-bottom: 0.5rem;
  color: #ffffff; 
}

.footer-desc {
  color: #b0b0b0; 
  font-size: 16px;
}

.footer-link {
  color: #bb86fc; 
  transition: color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700px;
}

.footer-link:hover {
  color: var(--primary-color); 
  text-decoration: none;
}

.list-unstyled{display: flex;flex-direction: column;gap: 10px;padding-left: 0;list-style: none;margin: 0;}
.footer-head{font-size: 20px;font-weight: 800; margin-bottom: 1rem;color: #ffffff;}


/* Responsive (stack layout) */
@media (max-width: 900px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
    height: auto;     /* allow page scroll on mobile */
    max-height: none;
  }
  .contact-right {
    height: 50vh;     /* map visible below form */
  }
}


/* Responsive for mobile */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
  }
  .footer-links {
    gap: 1rem;
  }
}


@media screen and (max-width: 992px) {.header-top{display: none;}
    
}